html {
  font-family: "Helvetica", sans-serif;
}
.italic {
  font-family: "Helvetica", sans-serif;
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.center {
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
}
