html {
  font-family: "Helvetica", sans-serif;
}
.italics {
  font-family: italic;
}
.underline {
  text-decoration: underline;
}
.underlineWavy {
  text-decoration: underline wavy;
}
.center {
  text-align: center;
}
