html {
  font-family: "Helvetica", sans-serif;
}
.title {
  font-family: "Helvetica", sans-serif;
  font-style: italic;
}
.god {
  font-family: "Times New Roman", Times, serif;
}
.center {
  text-align: center;
}
