html {
  font-family: "Helvetica", sans-serif;
}
.god {
  font-family: "Times New Roman", Times, serif;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.underline {
  text-decoration: underline;
}
